<a href="https://colab.research.google.com/github/Gonzales-James/CpE-AIML/blob/main/Software%20Engineering%20Concepts%20Review/58034_Lab01_Henerawr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

### Task 1: Setting the Class Grades
1. Create variable declarations for:
        - Last Names
        - First Names
        - Grades for Prelims
        - Grades for Midterms
        - Grades for Finals 
2. Create a DataFrame (Pandas) for consolidating the data from Task 1.1

In [2]:
student_num = [201811752,201866232,201811740,201818532,201899712]
lnames = ["Gonzales", "Bungcaras", "Ditan", "Nietes", "Cruz"]
fnames = ["James", "Joshua", "Luigi", "Ralf", "Juan"]
pgrades = [94, 95, 85, 80, 60]
mgrades = [80, 80, 92, 90, 60]
fgrades = [90, 86, 72, 91, 60]
class_grades = {'Student Number': student_num,
                'First Name': fnames,
                'Last Name': lnames,
                'Prelim Grades': pgrades,
                'Midterm Grades': mgrades,
                'Finals Grades': fgrades
                }

In [3]:
class_sheet = pd.DataFrame(class_grades)
class_sheet

   Student Number First Name  ... Midterm Grades  Finals Grades
0       201811752      James  ...             80             90
1       201866232     Joshua  ...             80             86
2       201811740      Luigi  ...             92             72
3       201818532       Ralf  ...             90             91
4       201899712       Juan  ...             60             60

[5 rows x 6 columns]

In [4]:
student_num = [201811757,201811180,201811740,201806931,201899712]
lnames = ["Manalo", "Dusaran", "Ditan", "Gamban", "Cruz"]
fnames = ["James", "Joshua", "Luigi", "Ralf", "Juan"]
pgrades = [49, 50, 85, 80, 96]
mgrades = [72, 47, 92, 90, 88]
fgrades = [81, 49, 72, 91, 89]
class_grades1 = {'Student Number': student_num,
                'First Name': fnames,
                'Last Name': lnames,
                'Prelim Grades': pgrades,
                'Midterm Grades': mgrades,
                'Finals Grades': fgrades
                }

In [5]:
class_sheet1 = pd.DataFrame(class_grades1)
class_sheet1

   Student Number First Name  ... Midterm Grades  Finals Grades
0       201811757      James  ...             72             81
1       201811180     Joshua  ...             47             49
2       201811740      Luigi  ...             92             72
3       201806931       Ralf  ...             90             91
4       201899712       Juan  ...             88             89

[5 rows x 6 columns]

### Task 2: Getting Class Statistics
1. Create a function named `get_grades()` for computing the semestral grade of each student:

  `inputs`: `DataFrame` of a class grade sheet.
  
  `outpus`: `DataFrame` showing:
  * The prelim, midterms, and finals grades of each student
  * The semestral grade of each student

2. Create a function named `get_class_stats()`.
  
  `inputs`: `DataFrame` from `get_grades()`.
  
  `outpus`: `DataFrame` showing:
  * The lowest and highest prelim, midterm, finals, and semestral grades
  * the mean, median, mode, and standard deviation of the grades

In [7]:
def get_grades(dataframe):
  prelim = dataframe["Prelim Grades"]
  midterm = dataframe["Midterm Grades"]
  final = dataframe["Finals Grades"]
  for item in dataframe["Last Name"]:
    semestral_grade = ((prelim*30) + (midterm*30) + (final*40)) / 100
    dataframe['Semestral Grade'] = semestral_grade
  return dataframe

In [8]:
get_grades(class_sheet)

   Student Number First Name  ... Finals Grades  Semestral Grade
0       201811752      James  ...            90             88.2
1       201866232     Joshua  ...            86             86.9
2       201811740      Luigi  ...            72             81.9
3       201818532       Ralf  ...            91             87.4
4       201899712       Juan  ...            60             60.0

[5 rows x 7 columns]

In [9]:
def get_class_stats(dataframe):
  prelim = dataframe["Prelim Grades"]
  midterm = dataframe["Midterm Grades"]
  final = dataframe["Finals Grades"]
  semestral = dataframe["Semestral Grade"]

  p_mean = dataframe['Prelim Grades'].mean()
  p_median = dataframe['Prelim Grades'].median()
  p_mode = dataframe['Prelim Grades'].mode()[0]
  p_std = dataframe['Prelim Grades'].std()

  m_mean = dataframe['Midterm Grades'].mean()
  m_median = dataframe['Midterm Grades'].median()
  m_mode = dataframe['Midterm Grades'].mode()[0]
  m_std = dataframe['Midterm Grades'].std()

  f_mean = dataframe['Finals Grades'].mean()
  f_median = dataframe['Finals Grades'].median()
  f_mode = dataframe['Finals Grades'].mode()[0]
  f_std = dataframe['Finals Grades'].std()

  s_mean = dataframe['Semestral Grade'].mean()
  s_median = dataframe['Semestral Grade'].median()
  s_mode = dataframe['Semestral Grade'].mode()[0]
  s_std = dataframe['Semestral Grade'].std()

  h_prelim = prelim.max()
  h_midterm = midterm.max()
  h_final = final.max()

  l_prelim = prelim.min()
  l_midterm = midterm.min()
  l_final = final.min()

  h_semestral = semestral.max()
  l_semestral = semestral.min()

  dataframe = {' ': ["Prelims", "Midterms", "Finals", "Semestral Grade"],
               'Highest': [h_prelim, h_midterm, h_final, h_semestral],
               'Lowest': [l_prelim, l_midterm, l_final, l_semestral]}

  dataframe = pd.DataFrame(dataframe)
  dataframe["Mean"] = [p_mean, m_mean, f_mean, s_mean]
  dataframe["Median"] = [p_median, m_median, f_median, s_median]
  dataframe["Mode"] = [p_mode, m_mode, f_mode, s_mode]
  dataframe["Standard_Deviation"] = [p_std, m_std, f_std, s_std]
  return dataframe

In [10]:
get_class_stats(get_grades(class_sheet))

                    Highest  Lowest   Mean  Median  Mode  Standard_Deviation
0          Prelims     95.0    60.0  82.80    85.0  60.0           14.202113
1         Midterms     92.0    60.0  80.40    80.0  80.0           12.680694
2           Finals     91.0    60.0  79.80    86.0  60.0           13.423859
3  Semestral Grade     88.2    60.0  80.88    86.9  60.0           11.930507

### Task 3: Advanced Class Functions
1. Optimize `get_grades()` by eliminating for loops in your function.
2. Create a function named `get_similar_students()`
  
  `inputs`: two (2) class `DataFrames`
  
  `outputs`: list of common student numbers.

  *Note*: The function should not contain iterative code blocks (i.e. `for` or `while` loops, or list comprehension)

In [11]:
def get_grades(dataframe):
  prelim = dataframe["Prelim Grades"]
  midterm = dataframe["Midterm Grades"]
  final = dataframe["Finals Grades"]
  semestral_grade = ((prelim*30) + (midterm*30) + (final*40)) / 100
  dataframe['Semestral Grade'] = semestral_grade
  return dataframe

In [12]:
get_grades(class_sheet)

   Student Number First Name  ... Finals Grades  Semestral Grade
0       201811752      James  ...            90             88.2
1       201866232     Joshua  ...            86             86.9
2       201811740      Luigi  ...            72             81.9
3       201818532       Ralf  ...            91             87.4
4       201899712       Juan  ...            60             60.0

[5 rows x 7 columns]

In [13]:
def get_similar_students(dataframe, dataframe1):
  sample = pd.merge(dataframe, dataframe1, how='inner', left_on='Student Number', right_on='Student Number')
  sample_list = sample['Student Number'] 
  return sample_list

In [14]:
get_similar_students(get_grades(class_sheet), get_grades(class_sheet1))

0    201811740
1    201899712
Name: Student Number, dtype: int64

### Task 4: Class of Classes
1. Modify the `class` `Section` and integrate the functions from Tasks 1 to 3 as its methods. Make sure that the codes are optimized.
2. Create a `method` named `get_failed()` wherein it will create a list of all the failed students in the class.
3. Create a `method` named `fail_count()` wherein it will return the count of the failed students.

** **Note:** due to data privacy, the data privacy office has mandated your code to print the names of the failed students as well as to mask the names of the students if their grades are also displayed.

In [15]:
class Section:
  def __init__(self, dataframe, dataframe1):
    self.class_list = dataframe
    self.class_list1 = dataframe1
  
  def get_grades(self):
    i = 0
    prelim = self.class_list["Prelim Grades"]
    midterm = self.class_list["Midterm Grades"]
    final = self.class_list["Finals Grades"]
    fname = self.class_list["First Name"]
    lname = self.class_list["Last Name"]
    for item in lname:
      semestral_grade = ((prelim*30) + (midterm*30) + (final*40)) / 100
      self.class_list['Semestral Grade'] = semestral_grade

      if self.class_list['Semestral Grade'][i] < 70:
        self.class_list.at[i, 'First Name'] = len(fname[i]) * "*"
        self.class_list.at[i, 'Last Name'] = len(lname[i]) * "*"
      i = i + 1
    return self.class_list

  def get_class_stats(self):
    prelim = self.class_list["Prelim Grades"]
    midterm = self.class_list["Midterm Grades"]
    final = self.class_list["Finals Grades"]
    semestral = self.class_list["Semestral Grade"]

    p_mean = self.class_list['Prelim Grades'].mean()
    p_median = self.class_list['Prelim Grades'].median()
    p_mode = self.class_list['Prelim Grades'].mode()[0]
    p_std = self.class_list['Prelim Grades'].std()

    m_mean = self.class_list['Midterm Grades'].mean()
    m_median = self.class_list['Midterm Grades'].median()
    m_mode = self.class_list['Midterm Grades'].mode()[0]
    m_std = self.class_list['Midterm Grades'].std()

    f_mean = self.class_list['Finals Grades'].mean()
    f_median = self.class_list['Finals Grades'].median()
    f_mode = self.class_list['Finals Grades'].mode()[0]
    f_std = self.class_list['Finals Grades'].std()

    s_mean = self.class_list['Semestral Grade'].mean()
    s_median = self.class_list['Semestral Grade'].median()
    s_mode = self.class_list['Semestral Grade'].mode()[0]
    s_std = self.class_list['Semestral Grade'].std()

    h_prelim = prelim.max()
    h_midterm = midterm.max()
    h_final = final.max()

    l_prelim = prelim.min()
    l_midterm = midterm.min()
    l_final = final.min()

    h_semestral = semestral.max()
    l_semestral = semestral.min()

    self.class_list = {' ': ["Prelims", "Midterms", "Finals", "Semestral Grade"],
                'Highest': [h_prelim, h_midterm, h_final, h_semestral],
                'Lowest': [l_prelim, l_midterm, l_final, l_semestral]}

    self.class_list = pd.DataFrame(self.class_list)
    self.class_list["Mean"] = [p_mean, m_mean, f_mean, s_mean]
    self.class_list["Median"] = [p_median, m_median, f_median, s_median]
    self.class_list["Mode"] = [p_mode, m_mode, f_mode, s_mode]
    self.class_list["Standard_Deviation"] = [p_std, m_std, f_std, s_std]
    return self.class_list
  
  def get_similar_students(self):
    sample = pd.merge(self.class_list, self.class_list1, how='inner', left_on='Student Number', right_on='Student Number')
    sample_list = sample['Student Number'] 
    return sample_list

  def get_failed(self):
    failed = []
    i=0
    for grade in self.class_list1["Semestral Grade"]:
      if grade < 70:
        failed.append(self.class_list1["First Name"][i] + " " + self.class_list1["Last Name"][i])
      i=i+1
    return failed

  def fail_count(self):
    failed = []
    for grade in self.class_list1["Semestral Grade"]:
      if grade < 70:
        failed.append(grade)
    return print("Failed Students: ", len(failed))


section_class = Section(class_sheet,class_sheet1)

In [16]:
section_class.get_grades()

   Student Number First Name  ... Finals Grades  Semestral Grade
0       201811752      James  ...            90             88.2
1       201866232     Joshua  ...            86             86.9
2       201811740      Luigi  ...            72             81.9
3       201818532       Ralf  ...            91             87.4
4       201899712       ****  ...            60             60.0

[5 rows x 7 columns]

In [17]:
section_class.get_class_stats()

                    Highest  Lowest   Mean  Median  Mode  Standard_Deviation
0          Prelims     95.0    60.0  82.80    85.0  60.0           14.202113
1         Midterms     92.0    60.0  80.40    80.0  80.0           12.680694
2           Finals     91.0    60.0  79.80    86.0  60.0           13.423859
3  Semestral Grade     88.2    60.0  80.88    86.9  60.0           11.930507

In [18]:
section_class = Section(get_grades(class_sheet),get_grades(class_sheet1))
section_class.get_failed()

['James Manalo', 'Joshua Dusaran']

In [19]:
section_class = Section(get_grades(class_sheet),get_grades(class_sheet1)) 
section_class.fail_count()

Failed Students:  2